// Navigation Styles here

header {
	.flex(space-between, center);
	border-bottom: 2px dashed @navigation-border;
	h1 {
		font-size: 5rem;
	} // Close h1

	nav {
		a {
			text-decoration: none;
			font-family: @main-font-stack;
      font-size: 2em;
      color: inherit;
      padding: 0 2%;
		} //close anchor tags
	} // close nav
} // Close Header
